<template>
  <!-- Desenvolvendo... -->
  <material-card :color="color">
    <div slot="header">
      <div slot="header">
        <div class="title px-3 pt-3" style="min-height: 50px;">Nova Vulnerabilidade</div>
      </div>
    </div>

    <v-layout align-center justify-center wrap>
      <v-flex xs12 class="pa-0">
        <v-card>
          <v-container grid-list-lg>
            <v-layout row wrap ma-0>
              <v-flex xs12>
                <v-text-field :color="color" label="Título"></v-text-field>
              </v-flex>
              <v-flex xs6 sm4 md3>
                <v-select :color="color" label="Status" :items="['teste1', 'teste2', 'teste3']"></v-select>
              </v-flex>
              <v-flex xs6 sm4 md3>
                <v-select :color="color" label="Risco Base" :items="['teste1', 'teste2', 'teste3']"></v-select>
              </v-flex>
              <v-flex xs6 sm4 md3>
                <v-select :color="color" label="Escopo" :items="['TESTE1', 'teste2', 'teste3']"></v-select>
              </v-flex>
              <v-flex xs6 sm4 md3>
                <v-select :color="color" label="Tipo" :items="['teste1', 'teste2', 'teste3']"></v-select>
              </v-flex>

              <v-flex xs6 sm4 md2>
                <v-select
                  :color="color"
                  label="ID do Projeto"
                  :items="['teste1', 'teste2', 'teste3']"
                ></v-select>
              </v-flex>
              <v-flex xs6 sm4 md2>
                <v-select
                  :color="color"
                  label="ID do Teste"
                  :items="['teste1', 'teste2', 'teste3']"
                ></v-select>
              </v-flex>
              <v-flex xs6 md2>
                <v-text-field :color="color" label="Host"></v-text-field>
              </v-flex>
              <v-flex xs6 md3>
                <v-text-field :color="color" label="Localização"></v-text-field>
              </v-flex>
              <v-flex xs6 md1>
                <v-text-field :color="color" label="CVSS"></v-text-field>
              </v-flex>
              <v-flex xs6 md2>
                <v-menu
                  v-model="pickerInclusao"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      :color="color"
                      v-model="formatDataInclusao"
                      label="Data Inclusão"
                      prepend-inner-icon="event"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    locale="pt-br"
                    :header-color="color"
                    :color="color"
                    v-model="dataInclusao"
                    @input="pickerInclusao = false"
                  ></v-date-picker>
                </v-menu>
              </v-flex>

              <v-flex xs12>
                <v-text-field :color="color" label="Plugin Output"></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field :color="color" label="Resumo"></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field :color="color" label="Descrição"></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field :color="color" label="Impacto"></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field :color="color" label="Solução"></v-text-field>
              </v-flex>

              <v-flex xs12 sm6 md3>
                <v-text-field :color="color" label="Porta/Serviço"></v-text-field>
              </v-flex>
              <v-flex xs6 sm6 md3>
                <v-select :color="color" label="Severidade" :items="['teste1', 'teste2', 'teste3']"></v-select>
              </v-flex>
              <v-flex xs6 sm6 md3>
                <v-text-field :color="color" label="CVE"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md3>
                <v-text-field :color="color" label="Exploit Público"></v-text-field>
              </v-flex>

              <v-flex xs6 sm6 md3>
                <v-select :color="color" label="Protocolo" :items="['teste1', 'teste2', 'teste3']"></v-select>
              </v-flex>
              <v-flex xs6 sm6 md3>
                <v-text-field :color="color" label="Bugstrap ID"></v-text-field>
              </v-flex>
              <v-flex xs6 sm6 md3>
                <v-text-field :color="color" label="Nessus Plugin ID"></v-text-field>
              </v-flex>
              <v-flex xs6 sm6 md3>
                <v-menu
                  v-model="pickerPublicacao"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      :color="color"
                      v-model="formatDataPublicacao"
                      label="Data Publicação"
                      prepend-inner-icon="event"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    locale="pt-br"
                    :header-color="color"
                    :color="color"
                    v-model="dataPublicacao"
                    @input="pickerPublicacao = false"
                  ></v-date-picker>
                </v-menu>
              </v-flex>

              <v-flex xs12>
                <v-textarea auto-grow rows="1" :color="color" label="Links de Referência"/>
              </v-flex>
            </v-layout>
          </v-container>

          <!-- <v-card-actions>
          <v-btn flat color="primary">More</v-btn>
          <v-spacer></v-spacer>
          <v-btn flat color="primary" @click="dialog = false">Cancel</v-btn>
          <v-btn flat @click="dialog = false">Save</v-btn>
          </v-card-actions>-->
        </v-card>
      </v-flex>

      <v-fab-transition>
        <v-btn :color="color" fab fixed bottom right>
          <v-icon>mdi-content-save</v-icon>
        </v-btn>
      </v-fab-transition>
    </v-layout>
  </material-card>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      dataInclusao: null,
      pickerInclusao: false,

      dataPublicacao: null,
      pickerPublicacao: false
    }
  },

  computed: {
    ...mapState('app', ['color']),
    formatDataInclusao () {
      return this.formatDate(this.dataInclusao)
    },
    formatDataPublicacao () {
      return this.formatDate(this.dataPublicacao)
    }
  },

  methods: {
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    }
  }
}
</script>
