<template>
  <v-layout row wrap>
    <!-- <v-btn slot="activator" class="elevation-0" :color="color" fixed bottom right fab dark>
      <v-icon>mdi-plus</v-icon>
    </v-btn>-->

    <v-speed-dial
      v-model="fab"
      fixed
      bottom
      right
      direction="top"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-tooltip left>
          <template v-slot:activator="{ on }">
            <v-btn v-model="fab" :color="color" fab v-on="on">
              <v-icon>mdi-plus</v-icon>
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Nova Vulnerabilidade</span>
        </v-tooltip>
      </template>

      <v-tooltip left>
        <template v-slot:activator="{ on }">
          <v-btn fab small color="primary" v-on="on" to="/inclusao">
            <v-icon>add</v-icon>
          </v-btn>
        </template>
        <span>Inclusão Manual</span>
      </v-tooltip>

      <v-tooltip left>
        <template v-slot:activator="{ on }">
          <v-btn fab small color="warning" v-on="on" to="/upload">
            <v-icon>mdi-file-upload</v-icon>
          </v-btn>
        </template>
        <span>Inclusão via Upload</span>
      </v-tooltip>
    </v-speed-dial>

    <v-flex xs12 sm6 lg3>
      <material-stats-card
        color="purple"
        icon="1"
        title="4.17% do total"
        value="CRÍTICO"
        sub-icon="mdi-calendar"
        sub-text="Últimas 24 horas"
        class="mb-0"
      />
    </v-flex>
    <v-flex xs12 sm6 lg3>
      <material-stats-card
        color="red"
        icon="7"
        title="29.17% do total"
        value="ALTO"
        sub-icon="mdi-calendar"
        sub-text="Últimas 24 horas"
        class="mb-0"
      />
    </v-flex>
    <v-flex xs12 sm6 lg3>
      <material-stats-card
        color="warning"
        icon="1"
        title="16.67% do total"
        value="MODERADO"
        sub-icon="mdi-calendar"
        sub-text="Últimas 24 horas"
        class="mb-0"
      />
    </v-flex>
    <v-flex xs12 sm6 lg3>
      <material-stats-card
        color="green"
        icon="1"
        title="50% do total"
        value="BAIXO"
        sub-icon="mdi-calendar"
        sub-text="Últimas 24 horas"
        class="mb-0"
      />
    </v-flex>

    <v-flex xs12>
      <v-data-table :headers="headers" :items="items" class="elevation-3 mt-3">
        <template v-slot:items="props">
          <td class="text-xs-center">{{ props.item.nivel }}</td>
          <td class="text-xs-center">{{ props.item.tipo }}</td>
          <td class="text-xs-right">{{ props.item.escopo }}</td>
          <td class="text-xs-center">
            <v-btn flat icon>
              <v-icon>mdi-magnify</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
  <!-- </v-container> -->
</template>

<script>
export default {
  data () {
    return {
      fab: false,
      headers: [
        {
          text: 'Risco',
          align: 'center',
          sortable: true,
          value: 'nivel'
        },
        { text: 'Tipo', align: 'center', value: 'tipo' },
        { text: 'Escopo', align: 'right', value: 'escopo' },
        { text: 'Ação', align: 'center', value: 'acao' }
      ],
      items: [
        {
          nivel: 'Alto',
          tipo: 'MS/DOS type error',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Alto',
          tipo: 'Solitaire Game Buffer Overflow',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Alto',
          tipo: 'Fake access Win 3.11',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Baixo',
          tipo: 'SSL Medium Strength Cipher Suites Supported',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Moderado',
          tipo: 'Vulnerabilidade Teste #1',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Baixo',
          tipo: 'Solitaire Game Buffer Overflow',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Crítico',
          tipo: 'MS/DOS type error',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Alto',
          tipo: 'Fake access Win 3.11',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Baixo',
          tipo: 'SSL Medium Strength Cipher Suites Supported',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Baixo',
          tipo: 'Solitaire Game Buffer Overflow',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Alto',
          tipo: 'MS/DOS type error',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Alto',
          tipo: 'Solitaire Game Buffer Overflow',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Alto',
          tipo: 'Fake access Win 3.11',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Baixo',
          tipo: 'SSL Medium Strength Cipher Suites Supported',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Moderado',
          tipo: 'Vulnerabilidade Teste #1',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Baixo',
          tipo: 'Solitaire Game Buffer Overflow',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Crítico',
          tipo: 'MS/DOS type error',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Alto',
          tipo: 'Fake access Win 3.11',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Baixo',
          tipo: 'SSL Medium Strength Cipher Suites Supported',
          escopo: 'Interno',
          acao: 0
        },
        {
          nivel: 'Baixo',
          tipo: 'Solitaire Game Buffer Overflow',
          escopo: 'Interno',
          acao: 0
        }
      ]
    }
  },

  computed: {
    color () {
      return this.$store.state.app.color
    }
  },

  methods: {
    complete (index) {
      this.list[index] = !this.list[index]
    }
  }
}
</script>
