<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-stepper v-model="e1">
        <v-stepper-header>
          <v-stepper-step :color="color" :complete="e1 > 1" step="1">Selecione o Tipo</v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step :color="color" :complete="e1 > 2" step="2">Defina a finalidade</v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step :color="color" :complete="e1 > 3" step="3">Dados do Projeto (ou Teste)</v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step :color="color" step="4">Selecione o Arquivo</v-stepper-step>
        </v-stepper-header>

        <v-stepper-items class="py-0">
          <v-stepper-content step="1" class="pa-0 text-xs-center">
            <v-card class="elevation-0">
              <v-container fill-height>
                <v-layout row wrap align-center>
                  <v-flex v-for="card in cards" :key="card.title" xs12 sm6 md3>
                    <v-card class="elevation-5" min-width="200">
                      <v-img @click="hidden = !hidden" :src="card.src"/>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-stepper-content>

          <v-stepper-content step="2" class="pa-0 pt-1">
            <v-card class="mb-5 elevation-0" height="300px">
              <v-container grid-list-md fill-height>
                <v-layout row wrap align-center text-xs-center>
                  <v-flex xs12 sm6>
                    <v-card
                      :elevation="customElevation"
                      class="display-3"
                      height="150px"
                      @click="setTeste"
                    >PROJETO</v-card>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-card
                      :elevation="customElevation"
                      class="elevation-5 display-3"
                      @click="setTeste"
                    >TESTE</v-card>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-stepper-content>

          <v-stepper-content step="3" class="pa-0 pt-1 text-xs-center">
            <v-card class="elevation-0">
              <v-form>
                <v-container>
                  <v-layout wrap>
                    <v-flex xs12 md6>
                      <v-select
                        :color="color"
                        :items="['teste1', 'teste2', 'teste3']"
                        label="Selecione o tipo de Teste"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-text-field :color="color" placeholder="Nome do projeto/teste"/>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-select
                        :color="color"
                        :items="['teste1', 'teste2', 'teste3']"
                        label="Selecione a Abrangência"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-select
                        :color="color"
                        :items="['teste1', 'teste2', 'teste3']"
                        label="Localização"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-select
                        :color="color"
                        :items="['teste1', 'teste2', 'teste3']"
                        label="Selecione o Conhecimento Fornecido"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-select
                        :color="color"
                        :items="['teste1', 'teste2', 'teste3']"
                        label="Selecione a Perspectiva do Teste"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12>
                      <v-textarea :color="color" solo class="purple-input" label="Observações"/>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
            </v-card>
          </v-stepper-content>

          <v-stepper-content step="4" class="text-xs-center">
            <v-card class="elevation-0 mb-3" color="grey lighten-1" height="300px"></v-card>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>

      <v-fab-transition>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-show="e1 > 1"
              :color="color"
              :absolute="$vuetify.breakpoint.mdAndUp"
              fab
              :fixed="$vuetify.breakpoint.smAndDown"
              bottom
              left
              @click="e1--"
              small
              v-on="on"
              :style="$vuetify.breakpoint.mdAndUp ? 'bottom: 0px;' : ''"
            >
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
          </template>
          <span>Voltar</span>
        </v-tooltip>
      </v-fab-transition>

      <v-fab-transition>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-show="e1 < 4"
              :color="color"
              :absolute="$vuetify.breakpoint.mdAndUp"
              fab
              :fixed="$vuetify.breakpoint.smAndDown"
              bottom
              right
              @click="e1 > 3 ? e1 = 1 : e1++"
              v-on="on"
              small
              :style="$vuetify.breakpoint.mdAndUp ? 'bottom: 0px;' : ''"
            >
              <v-icon>mdi-arrow-right</v-icon>
            </v-btn>
          </template>
          <span>Avançar</span>
        </v-tooltip>
      </v-fab-transition>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      e1: 0,
      hidden: true,

      customElevation: 0,

      cards: [
        { title: 'Nessus', src: require('@/assets/img/nessus.jpeg') },
        { title: 'Burpsuite', src: require('@/assets/img/burp.jpeg') },
        { title: 'AppScan', src: require('@/assets/img/appscan.jpeg') },
        { title: 'Excel', src: require('@/assets/img/excel.jpeg') }
      ]
    }
  },

  computed: {
    ...mapState('app', ['color'])
  },

  methods: {
    setTeste (el) {
      this.customElevation = 20
    }
  }
}
</script>
