<template>
  <v-layout class="text-xs-center" row wrap>
    <v-flex xs12>
      <v-tabs centered grow icons-and-text>
        <v-tabs-slider color="red"/>

        <v-tab href="#tab-1">
          Ativos
          <v-icon>mdi-keyboard-settings</v-icon>
        </v-tab>

        <v-divider vertical/>

        <v-tab href="#tab-2">
          Projetos
          <v-icon>mdi-chart-line</v-icon>
        </v-tab>

        <v-divider vertical/>

        <v-tab href="#tab-3">
          Vulnerabilidades
          <v-icon>mdi-poll-box</v-icon>
        </v-tab>

        <v-tab-item v-for="i in 3" :key="i" :value="'tab-' + i" lazy>
          <v-layout wrap>
            <v-flex sm12 md6>
              <material-chart-card
                :data="dailySalesChart.data"
                :options="dailySalesChart.options"
                ratio="ct-octave"
                color="blue"
                type="Line"
              >
                <h4 class="title font-weight-light">Novas Vulnerabilidades</h4>
                <p class="category d-inline-flex font-weight-light">
                  <v-icon color="green" small>mdi-arrow-up</v-icon>
                  <span class="green--text">55%</span>&nbsp;
                  de aumento na última semana
                </p>

                <template slot="actions">
                  <v-icon class="mr-2" small>mdi-clock-outline</v-icon>
                  <span class="caption grey--text font-weight-light">atualizado 4 minutos atrás</span>
                </template>
              </material-chart-card>
            </v-flex>
            <v-flex sm12 md6>
              <material-chart-card
                :data="totalVulnerabilidadesChart.data"
                :options="totalVulnerabilidadesChart.options"
                :responsive-options="totalVulnerabilidadesChart.responsiveOptions"
                ratio="ct-octave"
                color="purple"
                type="Bar"
              >
                <h4 class="title font-weight-light">Cobertura de Ativos</h4>
                <p class="category d-inline-flex font-weight-light">
                  <v-icon color="red" small>mdi-arrow-down</v-icon>
                  <span class="red--text">55%</span>&nbsp;
                  de decremento na última semana
                </p>

                <template slot="actions">
                  <v-icon class="mr-2" small>mdi-clock-outline</v-icon>
                  <span class="caption grey--text font-weight-light">atualizado 10 minutos atrás</span>
                </template>
              </material-chart-card>
            </v-flex>
            <v-flex sm12 md6>
              <material-chart-card
                :data="dataCompletedTasksChart.data"
                :options="dataCompletedTasksChart.options"
                ratio="ct-octave"
                color="red"
                type="Line"
              >
                <h3 class="title font-weight-light">Ativos Testados</h3>
                <p class="category d-inline-flex font-weight-light">Teste</p>

                <template slot="actions">
                  <v-icon class="mr-2" small>mdi-clock-outline</v-icon>
                  <span class="caption grey--text font-weight-light">atualizado 26 minutos atrás</span>
                </template>
              </material-chart-card>
            </v-flex>

            <v-flex sm12 md6>
              <material-chart-card
                :data="totalVulnerabilidadesChart.data"
                :options="totalVulnerabilidadesChart.options"
                :responsive-options="totalVulnerabilidadesChart.responsiveOptions"
                ratio="ct-octave"
                color="green"
                type="Line"
              >
                <h4 class="title font-weight-light">Total de Vulnerabilidades</h4>

                <template slot="actions">
                  <v-icon class="mr-2" small>mdi-clock-outline</v-icon>
                  <span class="caption grey--text font-weight-light">atualizado 10 minutos atrás</span>
                </template>
              </material-chart-card>
            </v-flex>

            <v-flex xs12 sm6>
              <material-chart-card
                :data="pieTestChart.data"
                :options="pieTestChart.options"
                :responsive-options="pieTestChart.responsiveOptions"
                ratio="ct-octave"
                color="grey lighten-1"
                type="Pie"
              >
                <h4 class="title font-weight-light">Total de Vulnerabilidades</h4>

                <template slot="actions">
                  <v-icon class="mr-2" small>mdi-clock-outline</v-icon>
                  <span class="caption grey--text font-weight-light">atualizado 10 minutos atrás</span>
                </template>
              </material-chart-card>
            </v-flex>
          </v-layout>
        </v-tab-item>
      </v-tabs>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'
import { api } from '@/config'

export default {
  data () {
    return {
      pieTestChart: {
        data: {
          series: [5, 3, 4, 12, 3, 1]
        },
        options: {
          donut: true,
          plugins: [this.$chartist.plugins.tooltip()]
          // lineSmooth: this.$chartist.Interpolation.cardinal({
          //   tension: 0
          // })
        },
        chartPadding: {
          top: 0,
          right: 0,
          bottom: 0,
          left: 0
        }
      },
      dailySalesChart: {
        data: {
          labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
          series: [[12, 17, 7, 17, 23, 18, 38]]
        },
        options: {
          plugins: [this.$chartist.plugins.tooltip()],
          lineSmooth: this.$chartist.Interpolation.cardinal({
            tension: 0
          }),
          low: 0,
          high: 50, // Set the high as the biggest value + something for a better look
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          }
        }
      },
      dataCompletedTasksChart: {
        data: {
          labels: ['12am', '3pm', '6pm', '9pm', '12pm', '3am', '6am', '9am'],
          series: [[230, 750, 450, 300, 280, 240, 200, 190]]
        },
        options: {
          plugins: [this.$chartist.plugins.tooltip()],
          lineSmooth: this.$chartist.Interpolation.cardinal({
            tension: 0
          }),
          low: 0,
          high: 1000, // Set the high as the biggest value + something for a better look
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          }
        }
      },
      totalVulnerabilidadesChart: {
        data: { },
        options: {
          plugins: [this.$chartist.plugins.tooltip()],
          axisX: {
            showGrid: true
          },
          low: 0,
          high: 100,
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          }
        },
        responsiveOptions: [
          [
            'screen and (max-width: 640px)',
            {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc: function (value) {
                  return value[0]
                }
              }
            }
          ]
        ]
      },
      headers: [
        {
          sortable: false,
          text: 'ID',
          value: 'id'
        },
        {
          sortable: false,
          text: 'Name',
          value: 'name'
        },
        {
          sortable: false,
          text: 'Salary',
          value: 'salary',
          align: 'right'
        },
        {
          sortable: false,
          text: 'Country',
          value: 'country',
          align: 'right'
        },
        {
          sortable: false,
          text: 'City',
          value: 'city',
          align: 'right'
        }
      ],
      items: [
        {
          name: 'Dakota Rice',
          country: 'Niger',
          city: 'Oud-Tunrhout',
          salary: '$35,738'
        },
        {
          name: 'Minerva Hooper',
          country: 'Curaçao',
          city: 'Sinaai-Waas',
          salary: '$23,738'
        },
        {
          name: 'Sage Rodriguez',
          country: 'Netherlands',
          city: 'Overland Park',
          salary: '$56,142'
        },
        {
          name: 'Philip Chanley',
          country: 'Korea, South',
          city: 'Gloucester',
          salary: '$38,735'
        },
        {
          name: 'Doris Greene',
          country: 'Malawi',
          city: 'Feldkirchen in Kārnten',
          salary: '$63,542'
        }
      ],
      tabs: 0,
      list: {
        0: false,
        1: false,
        2: false
      }
    }
  },

  created () {
    axios
      .get(api.path('dashboard'))
      .then(res => {
        console.log(res.data)
        this.totalVulnerabilidadesChart.data = res.data
        // this.totalVulnerabilidadesChart.data.series = res.data.series
        this.totalVulnerabilidadesChart.options.high = res.data.highest + 2
      })
      .catch(err => {
        console.log('Error => ', err)
      })
      .then(() => {
        // console.log('oi3')
      })
  },

  methods: {
    complete (index) {
      this.list[index] = !this.list[index]
    }
  }
}
</script>

<style>
.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 50px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #313131;
  color: #fff;
  font-weight: 500;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/*.chartist-tooltip:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #313131; }
*/
.chartist-tooltip.tooltip-show {
  opacity: 0.8;
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: blue;
}

.ct-series-b .ct-line,
.ct-series-b .ct-point {
  stroke: green;
}

.ct-label,
.ct-area,
.ct-line,
.ct-point,
.ct-bar,
.ct-slice-pie {
  cursor: pointer;
  /* pointer-events: none; */
}
</style>
