<template>
  <v-navigation-drawer v-model="inputValue" width="260" fixed app clipped>
    <v-list dense>
      <router-link to="/dashboard">
        <v-img
          :src="logoT"
          height="50px"
          max-height="100px"
          max-width="300px"
          class="mt-2"
          contain
        />
      </router-link>
      <v-divider class="ma-3"/>
      <template v-for="item in items">
        <v-layout v-if="item.heading" :key="item.heading" row align-center>
          <v-flex xs6>
            <v-subheader v-if="item.heading">{{ item.heading }}</v-subheader>
          </v-flex>
          <v-flex xs6 class="text-xs-center">
            <a href="#!" class="body-2 black--text">EDIT</a>
          </v-flex>
        </v-layout>
        <v-list-group
          v-else-if="item.children"
          :key="item.text"
          v-model="item.model"
          :active-class="`${color}--text`"
          :prepend-icon="item.icon"
          :append-icon="item.model ? item.arrowUp : item.arrowDown"
        >
          <template v-slot:activator>
            <v-list-tile :active-class="`${color}--text`">
              <v-list-tile-content>
                <v-list-tile-title>{{ item.text }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
          <v-list-tile
            :active-class="`${color}--text`"
            v-for="(child, i) in item.children"
            :to="child.to"
            :key="i"
          >
            <!-- <v-list-tile-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
            </v-list-tile-action>-->
            <v-list-tile-content>
              <v-list-tile-title>{{ child.text }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
        <v-list-tile v-else :active-class="`${color}--text`" :key="item.text">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.text }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
  data: () => ({
    items: [
      {
        icon: 'mdi-bank',
        text: 'Minha Empresa',
        arrowUp: 'keyboard_arrow_up',
        arrowDown: 'keyboard_arrow_down',
        model: false,
        children: [{ text: 'Parametrização' }]
      },
      {
        icon: 'mdi-keyboard-settings',
        text: 'Ativos',
        arrowUp: 'keyboard_arrow_up',
        arrowDown: 'keyboard_arrow_down',
        model: false,
        children: [
          { text: 'Dashboard', to: '/dashboard' },
          { text: 'Listar Ativos', to: '/teste' },
          { text: 'Upload de Arquivo' }
        ]
      },
      {
        icon: 'mdi-poll',
        text: 'Vulnerabilidades',
        arrowUp: 'keyboard_arrow_up',
        arrowDown: 'keyboard_arrow_down',
        model: false,
        children: [
          { text: 'Dashboard2', to: '/dashboard2' },
          { text: 'Listar Vulnerabilidades', to: '/lista' },
          { text: 'Upload de Arquivo', to: '/upload' },
          { text: 'Incluir Vulnerabilidade', to: '/inclusao' }
        ]
      },
      {
        icon: 'mdi-briefcase',
        text: 'Gestão de Compliance'
      },
      {
        icon: 'mdi-chart-line',
        text: 'Gestão de Riscos'
      }
      // {
      //   icon: "keyboard_arrow_up",
      //   "icon-alt": "keyboard_arrow_down",
      //   text: "Labels",
      //   model: true,
      //   children: [{ icon: "add", text: "Create label" }]
      // },
      // { icon: "settings", text: "Settings" },
      // { icon: "chat_bubble", text: "Send feedback" },
      // { icon: "help", text: "Help" },
      // { icon: "phonelink", text: "App downloads" },
      // { icon: "keyboard", text: "Go to the old version" }
    ]
  }),

  computed: {
    ...mapState('app', ['image', 'color']),
    inputValue: {
      get () {
        return this.$store.state.app.drawer
      },
      set (val) {
        this.setDrawer(val)
      }
    },
    logoT () {
      return this.$vuetify.dark
        ? require('@/assets/img/logo-white-new.png')
        : require('@/assets/img/logo-new.png')
    }
  },

  methods: {
    ...mapMutations('app', ['setDrawer', 'toggleDrawer']),
    onResponsiveInverted () {
      if (window.innerWidth < 991) {
        this.responsive = true
      } else {
        this.responsive = false
      }
    }
  }
}
</script>
