<template>
  <v-navigation-drawer
    id="app-drawer"
    v-model="inputValue"
    app
    dark
    floating
    persistent
    mobile-break-point="991"
    width="260"
  >
    <v-layout class="fill-height" tag="v-list" row>
      <!-- <v-list-tile avatar>
          <v-list-tile-avatar
            color="white"
      >-->
      <v-img
        :src="require('@/assets/img/logo-white-2.png')"
        height="50px"
        max-height="100px"
        max-width="300px"
        class="ma-0 pa-0"
        contain
      />
      <!-- </v-list-tile-avatar>
          <v-list-tile-title class="title text-xs-center">HEX</v-list-tile-title>
      </v-list-tile>-->

      <v-divider/>

      <!-- <v-list-tile v-if="responsive">
          <v-text-field
            :color="color"
            class="purple-input search-input"
            label="Search..."
          />
      </v-list-tile>-->

      <div v-for="link in links" :key="link.text">
        <v-list-group v-if="link.items">
          <template v-slot:activator>
            <v-list-tile
              :to="link.to"
              v-model="link.active"
              :prepend-icon="link.icon"
              :active-class="`${color}--text`"
              class="v-list-item"
              no-action
            >
              <v-list-tile-content>
                <v-list-tile-title>{{ link.text }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>

          <v-list-tile v-for="(subItem, i) in link.items" :key="i">
            <v-list-tile-title v-text="subItem.text"/>
          </v-list-tile>

          <!-- <v-list-tile-action>
                <v-icon>{{ subItem.icon }}</v-icon>
          </v-list-tile-action>-->
        </v-list-group>

        <v-list-tile v-else :to="link.to" :active-class="color" class="v-list-item" avatar>
          <v-list-tile-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-title v-text="link.text"/>
        </v-list-tile>
      </div>
    </v-layout>
  </v-navigation-drawer>
</template>

<script>
// Utilities
import { mapMutations, mapState } from 'vuex'

export default {
  data: () => ({
    logo: '@/assets/img/logo-new.png',
    links: [
      {
        to: '/dashboard',
        icon: 'mdi-view-dashboard',
        text: 'Dashboards'
      },
      // {
      //   to: '/icons',
      //   icon: 'mdi-bank',
      //   text: 'Icons'
      //   // items: [
      //   //   { text: 'Políticas e Regras', to: '' },
      //   //   { text: 'Usuários e Perfis', to: '' }
      //   // ]
      // },
      // {
      //   to: '/notifications',
      //   icon: 'mdi-poll-box',
      //   text: 'Notifications'
      //   // items: [
      //   //   { text: 'Dashboard' },
      //   //   { text: 'Testes e Projetos',
      //   //     items: [
      //   //       { text: 'Dashboard' },
      //   //       { text: 'Lista de Projetos' },
      //   //       { text: 'Incluir Novo Projeto' }
      //   //     ]
      //   //   }
      //   // ]
      // },
      {
        to: '/ativos',
        icon: 'mdi-keyboard-settings',
        text: 'Gestão de Ativos'
      },
      {
        to: '/typography',
        icon: 'mdi-briefcase',
        text: 'Gestão de Compliance'
      },
      {
        to: '/teste',
        icon: 'mdi-chart-line',
        text: 'Gestão de Riscos'
      },
      {
        to: '/maps',
        icon: 'mdi-clipboard-outline',
        text: 'Administração'
      },
      {
        to: '/teste1',
        icon: 'mdi-test-tube',
        text: 'Teste1'
      },
      {
        to: '/teste2',
        icon: 'mdi-test-tube',
        text: 'Teste2'
      },
      {
        to: '/teste3',
        icon: 'mdi-test-tube',
        text: 'Teste3'
      }
    ],
    responsive: false
  }),

  computed: {
    ...mapState('app', ['image', 'color']),
    inputValue: {
      get () {
        return this.$store.state.app.drawer
      },
      set (val) {
        this.setDrawer(val)
      }
    }
    // items () {
    //   return this.$t('Layout.View.items')
    // }
  },
  mounted () {
    this.onResponsiveInverted()
    window.addEventListener('resize', this.onResponsiveInverted)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResponsiveInverted)
  },
  methods: {
    ...mapMutations('app', ['setDrawer', 'toggleDrawer']),
    onResponsiveInverted () {
      if (window.innerWidth < 991) {
        this.responsive = true
      } else {
        this.responsive = false
      }
    }
  }
}
</script>

<style lang="scss">
#app-drawer {
  .v-list__tile {
    border-radius: 4px;

    // &--buy {
    //   margin-top: auto;
    //   margin-bottom: 17px;
    // }
  }

  // .v-list__group {
  //   border: 1px solid white;
  //   border-radius: 4px;
  // }

  .v-image__image--contain {
    top: 9px;
    height: 60%;
  }

  .search-input {
    margin-bottom: 30px !important;
    padding-left: 15px;
    padding-right: 15px;
  }
}
</style>
