<template>
  <v-menu
    :close-on-content-click="false"
    color="primary"
    bottom
    left
    min-width="300"
    max-width="300"
    offset-y
    transition="slide-y-transition"
  >
    <v-btn slot="activator" icon>
      <v-icon>mdi-settings</v-icon>
    </v-btn>
    <v-card>
      <v-container grid-list-xl>
        <v-layout wrap>
          <v-flex xs12>
            <div class="text-xs-center body-2 text-uppercase sidebar-filter">Alterar Cor</div>

            <v-layout justify-center>
              <v-avatar
                v-for="c in colors"
                :key="c"
                :class="[c === color ? 'color-active color-' + c: c]"
                size="23"
                @click="setColor(c)"
              />
            </v-layout>
            <v-divider class="mt-3"/>
          </v-flex>
          <!-- <v-flex xs12>
            <div class="text-xs-center body-2 text-uppercase sidebar-filter">Modo Noturno</div>
          </v-flex>-->
          <v-flex xs12>
            <!-- <div class="text-xs-center body-2 text-uppercase">
              <div>Modo Noturno</div>
              <div>
                <v-btn color="cyan" fab icon small round>
                  <v-icon>mdi-check</v-icon>
                </v-btn>
              </div>
            </div>-->
            <div class="text-xs-center body-2 text-uppercase">
              <v-switch v-model="dark" label="Modo Noturno"></v-switch>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-menu>
</template>

<script>
// Utilities
import {
  mapMutations,
  mapState
} from 'vuex'

export default {
  data: () => ({
    colors: [
      'primary',
      'secondary',
      'accent',
      'error',
      'warning'
    ]
  }),

  computed: {
    ...mapState('app', ['color']),
    dark: {
      get () {
        return this.$store.state.app.dark
      },
      set (val) {
        this.setDark(!this.$store.state.app.dark)
      }
    },
    color () {
      console.log('colors => ', this.$store.state.app.color)
      return this.$store.state.app.color
    }
  },

  methods: {
    ...mapMutations('app', ['setDark']),
    setColor (color) {
      this.$store.state.app.color = color
    }
  }
}
</script>

<style lang="scss">
.v-avatar
// ,.v-responsive
 {
  border: 3px solid white;
  transition: all 0.34s;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &.image-active,
  &.color-active {
    border-color: #00bcd4;
  }

  &.color-primary {
    background-color: #1976d2;
  }
  &.color-secondary {
    background-color: #4caf50;
  }
  &.color-accent {
    background-color: #82b1ff;
  }
  &.color-error {
    background-color: #f55a4e;
  }
  &.color-warning {
    background-color: #ffa21a;
  }
}
</style>
