<template>
  <v-toolbar dark id="core-toolbar" :color="color" dense fixed clipped-left app>
    <v-toolbar-side-icon @click.stop="onClickBtn"/>

    <!-- <v-img
      :src="logo"
      max-width="100"
      @click="$vuetify.goTo(0)"
    />-->
    <!-- <v-toolbar-title class="subheading">Teste texto</v-toolbar-title> -->

    <v-spacer/>

    <!-- <v-btn icon to="/dashboard">
      <v-icon>mdi-view-dashboard</v-icon>
    </v-btn>-->

    <v-menu
      color="primary"
      bottom
      left
      content-class="dropdown-menu"
      offset-y
      transition="slide-y-transition"
    >
      <v-btn slot="activator" icon>
        <v-badge color="error" overlap>
          <template slot="badge">{{ notifications.length }}</template>
          <v-icon>mdi-bell</v-icon>
        </v-badge>
      </v-btn>
      <v-card>
        <v-list dense>
          <v-list-tile v-for="notification in notifications" :key="notification" @click="onClick">
            <v-list-tile-title v-text="notification"/>
          </v-list-tile>
        </v-list>
      </v-card>
    </v-menu>

    <core-filter2/>

    <v-btn to="/login" icon>
      <v-icon>mdi-account</v-icon>
    </v-btn>
  </v-toolbar>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  data: () => ({
    notifications: ['Teste 1', 'Teste 2', 'Teste 3', 'Teste 4', 'Teste 5'],
    title: null,
    responsive: false,
    responsiveInput: false
  }),

  computed: {
    ...mapState('app', ['image', 'color']),
    inputValue: {
      get () {
        return this.$store.state.app.drawer
      },
      set (val) {
        this.setDrawer(val)
      }
    },
    items () {
      return this.$t('Layout.View.items')
    },
    logo () {
      return this.$vuetify.dark
        ? require('@/assets/img/logo-white-2.png')
        : require('@/assets/img/logo-2.png')
    }
  },

  watch: {
    $route (val) {
      this.title = val.name
    }
  },

  mounted () {
    this.onResponsiveInverted()
    window.addEventListener('resize', this.onResponsiveInverted)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResponsiveInverted)
  },

  methods: {
    ...mapMutations('app', ['setDrawer', 'toggleDrawer']),
    onClickBtn () {
      this.setDrawer(!this.$store.state.app.drawer)
    },
    onClick () {
      //
    },
    onResponsiveInverted () {
      if (window.innerWidth < 991) {
        this.responsive = true
        this.responsiveInput = false
      } else {
        this.responsive = false
        this.responsiveInput = true
      }
    }
  }
}
</script>

<style>
/* #core-toolbar a {
    text-decoration: none;
  } */
</style>
