<template>
  <v-content>
    <v-container fill-height fluid grid-list-md pt-0>
      <!-- <div id="core-view"> -->
      <v-fade-transition mode="out-in">
        <router-view/>
      </v-fade-transition>

      <!-- <core-filter/> -->

      <!-- </div> -->
    </v-container>
    <!-- <core-footer v-if="$route.name !== 'Maps'" /> -->
  </v-content>
</template>

<script>
export default {
  metaInfo () {
    return {
      title: 'Hex - v2'
    }
  }

}
</script>

<style>
#core-view {
  padding-bottom: 100px;
}
</style>
