<template>
  <v-layout align-center justify-center>
    <v-flex xs11 sm7 md5 lg3 xl2>
      <v-card
        :color="$vuetify.breakpoint.smAndDown ? 'transparent' : 'rgba(0, 0, 0, 0.3)'"
        :class="vcardClass"
        dark
        width="320"
        flat
        style="border-radius:20px"
      >
        <v-img :src="require('@/assets/img/logo-white-new.png')" class="mb-2"/>

        <v-layout row wrap>
          <v-flex xs8 class="mx-5">
            <v-card-text class="pa-0 pt-3 text-xs-center text-align-center">
              <v-form ref="form" lazy-validation @submit.prevent="submit">
                <v-text-field
                  v-model="form.email"
                  label="E-mail"
                  color="secondary"
                  type="email"
                  prepend-inner-icon="mdi-account"
                  autofocus
                />

                <v-text-field
                  v-model="form.password"
                  :append-icon="passwordHidden ? 'mdi-eye-off' : 'mdi-eye'"
                  :type="passwordHidden ? 'password' : 'text'"
                  color="secondary"
                  label="Senha"
                  prepend-inner-icon="mdi-lock"
                  @click:append="() => (passwordHidden = !passwordHidden)"
                />

                <v-btn
                  :disabled="!form.email || form.email.length < 8 || !form.password || form.password.length < 8"
                  class="my-3"
                  color="secondary"
                  block
                  type="submit"
                >Acessar</v-btn>

                <v-btn flat outline block to="/dashboard">Esqueceu sua senha?</v-btn>
                <!-- </v-layout> -->
              </v-form>
            </v-card-text>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
    <v-snackbar v-model="snackbar" bottom color="red">
      Erro ao efetuar login
      <v-btn color="white" flat @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
import axios from 'axios'
import { api } from '@/config'

export default {
  data () {
    return {
      snackbar: false,
      passwordHidden: true,
      radios: null,

      usuario: [],

      labels: {
        email: 'email',
        senha: 'senha'
      },

      form: {
        email: '',
        password: '',
        token: null,
        tokenKey: null
      },

      rules: {
        required: value => !!value || 'Campo obrigatório.'
      }
    }
  },

  computed: {
    logo () {
      // eslint-disable-next-line global-require
      return require('@/assets/img/logo-new.png')
    },
    vcardClass () {
      return this.$vuetify.breakpoint.smAndDown ? '' : 'elevation-12 pa-4'
    }
  },

  methods: {
    submit () {
      if (this.$refs.form.validate()) {
        // this.loading = true;

        this.$router.push({ name: 'Dashboard' })

        axios
          .post(api.path('login'), this.form)
          .then(res => {
            // this.$store.dispatch('auth/saveToken', res.data);
            // this.$store.dispatch('auth/setUser', res.data);
            // this.$store.dispatch('auth/setPerfil', res.data.user);
            // this.$store.dispatch('auth/setLevel', res.data.user);
            // this.snackbar = true

            // if (this.$store.getters['auth/level'] > 10) {
            //   this.$router.push({ name: 'index' })
            // } else {
            //   this.$router.push({ name: 'home' })
            // }

            // this.$nextTick(
            // )
          })
          .catch(err => {
            this.snackbar = true
            console.log('Error: ', err)
            // this.handleErrors(err.response.data.errors);
          })
          .then(() => {
            // console.log('oi3')
            // this.loading = false;
          })
      }
    }
  }
}
</script>
