<template>
  <v-app id="app" :dark="isDark">
    <transition name="fade" mode="out-in">
      <router-view/>
    </transition>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'App',
  data () {
    return {
      //
    }
  },

  computed: {
    ...mapState('app', ['dark']),
    isDark: {
      get () {
        return this.$store.state.app.dark
      }
      // set (val) {
      //   this.setDrawer(val)
      // }
    }
    // items () {
    //   return this.$t('Layout.View.items')
    // }
  }
}
</script>

<style lang="scss">
// @import "@/styles/index.scss";

// /* Remove in 1.2 */
// .v-datatable thead th.column.sortable i {
//   vertical-align: unset;
// }

html {
  overflow: auto;
}
</style>
