<template>
  <div>
    <core-toolbar/>

    <core-drawer2/>

    <!-- <core-filter /> -->

    <core-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      //
    }
  }
}
</script>
