<template>
  <v-content>
    <v-container fluid fill-height class="img-background">
      <transition name="fade" mode="out-in">
        <router-view/>
      </transition>
    </v-container>
  </v-content>
</template>

<script>
export default {}
</script>

<style scoped>
.img-background {
  background: url("~@/assets/img/bg.jpg") no-repeat top center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}
</style>
